# Tarea Examen I

In [165]:
import pandas as pd 
import numpy as np
from scipy.stats import kurtosis

## Importamos el DataFrame "Cars93" de r

In [166]:
df_cars93 = pd.read_csv('Cars93.csv')
df_cars93

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,Front,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,Front,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,Front,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,Rear,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,Front,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

## Ejercicio I:

In [167]:
# Veamos los tipos de datos de cada columna que tenemos en nuestro dataframe como un dataframe
df_types = pd.DataFrame(df_cars93.dtypes)

'''
Ahora hagamos el análisis según los datos de df_Cars93, de cuál es el la escala de medición de cada variable, a 
su vez los guardaremos en un DataFrame.
'''

escala_medicion = ['Dato categórico de escala nominal', 'Dato categórico de escala nominal', 'Dato categórico en escala ordinal', 
              'Dato cuantitativo en escala de razón', 'Dato cuantitativo en escala de razón', 'Dato cuantitativo en escala de razón',
              '**Dato cuantitativo en escala de razón**', '**Dato cuantitativo en escala de razón**', 'Dato categórico en escala nominal',
              'Dato categórico de escala nominal', '**Dato categórico en escala ordinal**', '**Dato cuantitativo en escala de razón**',
              'Dato cuantitativo en escala de intervalo', '**Dato cuantitativo en escala de razón**', '**Dato cuantitativo en escala de razón**', 
              'Dato categórico en escala nominal', '*Dato cuantitativo en escala de razón*', 'Dato cuantitativo en escala de razón', 
              'Dato cuantitativo en escala de razón', 'Dato cuantitativo en escala de razón', 'Dato cuantitativo en escala de razón', 
              'Dato cuantitativo en escala de razón', 'Dato cuantitativo en escala de razón', 'Dato cuantitativo en escala de razón',
              'Dato cuantitativo en escala de razón', 'Dato categórico en escala nominal', 'Dato categórico en escala nominal']
df_escala_medicion = pd.DataFrame(escala_medicion)

In [168]:
# Cambiamos los índices de df_escala_medicion para poder unir los dataframe hechos hasta ahora

df_escala_medicion.set_index(df_types.index, inplace=True)
df_escala_medicion

                                                           0
Manufacturer               Dato categórico de escala nominal
Model                      Dato categórico de escala nominal
Type                       Dato categórico en escala ordinal
Min.Price               Dato cuantitativo en escala de razón
Price                   Dato cuantitativo en escala de razón
Max.Price               Dato cuantitativo en escala de razón
MPG.city            **Dato cuantitativo en escala de razón**
MPG.highway         **Dato cuantitativo en escala de razón**
AirBags                    Dato categórico en escala nominal
DriveTrain                 Dato categórico de escala nominal
Cylinders              **Dato categórico en escala ordinal**
EngineSize          **Dato cuantitativo en escala de razón**
Horsepower          Dato cuantitativo en escala de intervalo
RPM                 **Dato cuantitativo en escala de razón**
Rev.per.mile        **Dato cuantitativo en escala de razón**
Man.trans.avail            Dato categórico en escala nominal
Fuel.tank.capacity    *Dato cuantitativo en escala de razón*
Passengers              Dato cuantitativo en escala de razón
Length                  Dato cuantitativo en escala de razón
Wheelbase               Dato cuantitativo en escala de razón
Width                   Dato cuantitativo en escala de razón
Turn.circle             Dato cuantitativo en escala de razón
Rear.seat.room          Dato cuantitativo en escala de razón
Luggage.room            Dato cuantitativo en escala de razón
Weight                  Dato cuantitativo en escala de razón
Origin                     Dato categórico en escala nominal
Make                       Dato categórico en escala nominal

In [169]:
df_escala = pd.concat([df_types, df_escala_medicion], axis=1)
df_escala.set_axis(['Tipo de dato', 'Escala de medición'], axis='columns', inplace=True)
df_escala

                   Tipo de dato                        Escala de medición
Manufacturer             object         Dato categórico de escala nominal
Model                    object         Dato categórico de escala nominal
Type                     object         Dato categórico en escala ordinal
Min.Price               float64      Dato cuantitativo en escala de razón
Price                   float64      Dato cuantitativo en escala de razón
Max.Price               float64      Dato cuantitativo en escala de razón
MPG.city                  int64  **Dato cuantitativo en escala de razón**
MPG.highway               int64  **Dato cuantitativo en escala de razón**
AirBags                  object         Dato categórico en escala nominal
DriveTrain               object         Dato categórico de escala nominal
Cylinders                object     **Dato categórico en escala ordinal**
EngineSize              float64  **Dato cuantitativo en escala de razón**
Horsepower                int64  Dato cuantitativo en escala de intervalo
RPM                       int64  **Dato cuantitativo en escala de razón**
Rev.per.mile              int64  **Dato cuantitativo en escala de razón**
Man.trans.avail          object         Dato categórico en escala nominal
Fuel.tank.capacity      float64    *Dato cuantitativo en escala de razón*
Passengers                int64      Dato cuantitativo en escala de razón
Length                    int64      Dato cuantitativo en escala de razón
Wheelbase                 int64      Dato cuantitativo en escala de razón
Width                     int64      Dato cuantitativo en escala de razón
Turn.circle               int64      Dato cuantitativo en escala de razón
Rear.seat.room          float64      Dato cuantitativo en escala de razón
Luggage.room            float64      Dato cuantitativo en escala de razón
Weight                    int64      Dato cuantitativo en escala de razón
Origin                   object         Dato categórico en escala nominal
Make                     object         Dato categórico en escala nominal

## Ejercicio II

In [170]:
pd.read_csv('df_Resumen.csv')

       min     max  median         mean     std.dev  kurtosis
0      NaN     NaN     NaN          NaN         NaN       NaN
1      NaN     NaN     NaN          NaN         NaN       NaN
2      NaN     NaN     NaN          NaN         NaN       NaN
3      6.7    45.4    14.7    17.125806    8.746029  0.818146
4      7.4    61.9    17.7    19.509677    9.659430  3.051418
5      7.9    80.0    19.6    21.898925   11.030457  6.768099
6     15.0    46.0    21.0    22.365591    5.619812  3.584488
7     20.0    50.0    28.0    29.086022    5.331726  2.296162
8      NaN     NaN     NaN          NaN         NaN       NaN
9      NaN     NaN     NaN          NaN         NaN       NaN
10     NaN     NaN     NaN          NaN         NaN       NaN
11     1.0     5.7     2.4     2.667742    1.037363  0.226494
12    55.0   300.0   140.0   143.827957   52.374410  0.902913
13  3800.0  6500.0  5200.0  5280.645161  596.731690 -0.506132
14  1320.0  3755.0  2340.0  2332.204301  496.506525  0.077763
15     NaN     NaN     NaN          NaN         NaN       NaN
16     9.2    27.0    16.4    16.664516    3.279370 -0.008741
17     2.0     8.0     5.0     5.086022    1.038979  0.741013
18   141.0   219.0   183.0   183.204301   14.602382  0.289724
19    90.0   119.0   103.0   103.946237    6.819674 -0.865702
20    60.0    78.0    69.0    69.376344    3.778986 -0.355019
21    32.0    45.0    39.0    38.956989    3.223265 -0.805228
22    19.0    36.0    27.5    27.829670    2.989072  0.698413
23     6.0    22.0    14.0    13.890244    2.997967  0.360950
24  1695.0  4105.0  3040.0  3072.903226  589.896510 -0.919140
25     NaN     NaN     NaN          NaN         NaN       NaN
26     NaN     NaN     NaN          NaN         NaN       NaN

In [171]:
df_resumen = df_cars93.describe(include='all').T
df_resumen = df_resumen[['mean', 'std', 'min', 'max', '25%', '75%']]

In [172]:
kurt = df_cars93.kurt(axis=0, numeric_only=True)
kurt = pd.DataFrame(kurt)
kurt.set_axis(['Kurtosis'], axis='columns', inplace=True)

In [173]:
rango_muestral = pd.DataFrame(df_resumen['max'] - df_resumen['min'])
rango_muestral.set_axis(['Rango muestral'], axis='columns', inplace=True)

In [174]:
mediana = pd.DataFrame(df_cars93.median())
mediana.set_axis(['Mediana'], axis='columns', inplace=True)

In [175]:
sesgo = pd.DataFrame(df_cars93.skew(axis = 0, skipna = True))
sesgo.set_axis(['Sesgo'], axis='columns', inplace=True)

In [176]:
total_nan = pd.DataFrame(df_cars93.isna().sum())
total_nan.set_axis(['Valores perdidos'], axis='columns', inplace=True)

In [177]:
df_resumen = pd.concat([df_resumen, kurt, rango_muestral, mediana, sesgo, total_nan], axis=1)
df_resumen

,mean,std,min,max,25%,75%,Kurtosis,Rango muestral,Mediana,Sesgo,Valores perdidos
Manufacturer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Model,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Min.Price,17.125806,8.746029,6.7,45.4,10.8,20.3,1.019419,38.7,14.7,1.182989,0
Price,19.509677,9.65943,7.4,61.9,12.2,23.3,3.429123,54.5,17.7,1.533082,0
Max.Price,21.898925,11.030457,7.9,80.0,14.7,25.3,7.439426,72.1,19.6,2.033859,0
MPG.city,22.365591,5.619812,15.0,46.0,18.0,25.0,4.004306,31.0,21.0,1.704430,0
MPG.highway,29.086022,5.331726,20.0,50.0,26.0,31.0,2.614201,30.0,28.0,1.229897,0
AirBags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
DriveTrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Cylinders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
EngineSize,2.667742,1.037363,1.0,5.7,1.8,3.3,0.381025,4.7,2.4,0.859418,0
Horsepower,143.827957,52.37441,55.0,300.0,103.0,170.0,1.110883,245.0,140.0,0.951728,0
RPM,5280.645161,596.73169,3800.0,6500.0,4800.0,5750.0,-0.409479,2700.0,5200.0,-0.258533,0
Rev.per.mile,2332.204301,496.506525,1320.0,3755.0,1985.0,2565.0,0.220544,2435.0,2340.0,0.281546,0
Man.trans.avail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Fuel.tank.capacity,16.664516,3.27937,9.2,27.0,14.5,18.8,0.127206,17.8,16.4,0.108146,0
Passengers,5.086022,1.038979,2.0,8.0,4.0,6.0,0.936193,6.0,5.0,0.062517,0
Length,183.204301,14.602382,141.0,219.0,174.0,192.0,0.449250,78.0,183.0,-0.090095,0
Wheelbase,103.946237,6.819674,90.0,119.0,98.0,110.0,-0.797456,29.0,103.0,0.113727,0
Width,69.376344,3.778986,60.0,78.0,67.0,72.0,-0.246428,18.0,69.0,0.264027,0
Turn.circle,38.956989,3.223265,32.0,45.0,37.0,41.0,-0.732204,13.0,39.0,-0.133569,0
Rear.seat.room,27.82967,2.989072,19.0,36.0,26.0,30.0,0.894682,17.0,27.5,0.078260,2
Luggage.room,13.890244,2.997967,6.0,22.0,12.0,15.0,0.549688,16.0,14.0,0.229566,11
Weight,3072.903226,589.89651,1695.0,4105.0,2620.0,3525.0,-0.855116,2410.0,3040.0,-0.143669,0
Origin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Make,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [180]:
df_resumen.set_axis(['Promedio', 'Desviación estándar', 'Mínimo', 'Máximo', 'Q1', 'Q3', 'Kurtosis', 
                     'Rango muestral', 'Mediana', 'Sesgo', 'Valores perdidos'], axis='columns', inplace=True)
df_resumen

,Promedio,Desviación estándar,Mínimo,Máximo,Q1,Q3,Kurtosis,Rango muestral,Mediana,Sesgo,Valores perdidos
Manufacturer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Model,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Min.Price,17.125806,8.746029,6.7,45.4,10.8,20.3,1.019419,38.7,14.7,1.182989,0
Price,19.509677,9.65943,7.4,61.9,12.2,23.3,3.429123,54.5,17.7,1.533082,0
Max.Price,21.898925,11.030457,7.9,80.0,14.7,25.3,7.439426,72.1,19.6,2.033859,0
MPG.city,22.365591,5.619812,15.0,46.0,18.0,25.0,4.004306,31.0,21.0,1.704430,0
MPG.highway,29.086022,5.331726,20.0,50.0,26.0,31.0,2.614201,30.0,28.0,1.229897,0
AirBags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
DriveTrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Cylinders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
EngineSize,2.667742,1.037363,1.0,5.7,1.8,3.3,0.381025,4.7,2.4,0.859418,0
Horsepower,143.827957,52.37441,55.0,300.0,103.0,170.0,1.110883,245.0,140.0,0.951728,0
RPM,5280.645161,596.73169,3800.0,6500.0,4800.0,5750.0,-0.409479,2700.0,5200.0,-0.258533,0
Rev.per.mile,2332.204301,496.506525,1320.0,3755.0,1985.0,2565.0,0.220544,2435.0,2340.0,0.281546,0
Man.trans.avail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Fuel.tank.capacity,16.664516,3.27937,9.2,27.0,14.5,18.8,0.127206,17.8,16.4,0.108146,0
Passengers,5.086022,1.038979,2.0,8.0,4.0,6.0,0.936193,6.0,5.0,0.062517,0
Length,183.204301,14.602382,141.0,219.0,174.0,192.0,0.449250,78.0,183.0,-0.090095,0
Wheelbase,103.946237,6.819674,90.0,119.0,98.0,110.0,-0.797456,29.0,103.0,0.113727,0
Width,69.376344,3.778986,60.0,78.0,67.0,72.0,-0.246428,18.0,69.0,0.264027,0
Turn.circle,38.956989,3.223265,32.0,45.0,37.0,41.0,-0.732204,13.0,39.0,-0.133569,0
Rear.seat.room,27.82967,2.989072,19.0,36.0,26.0,30.0,0.894682,17.0,27.5,0.078260,2
Luggage.room,13.890244,2.997967,6.0,22.0,12.0,15.0,0.549688,16.0,14.0,0.229566,11
Weight,3072.903226,589.89651,1695.0,4105.0,2620.0,3525.0,-0.855116,2410.0,3040.0,-0.143669,0
Origin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Make,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0