## Python for Data Scientist

### Theory: 
Many languages use curly braces to delimit blocks of code. Python uses indentation

In [2]:
#You can also use a backslash to indicate that a statement continues onto the next line 
two_plus_three = 5 + \
                 3
two_plus_three

8

### Strings

In [7]:
tab_string = "\t" #represents the tab character
tab_string

'\t'

In [8]:
print("miau \t bebo")

miau 	 bebo

In [9]:
# format
first_name = "Fernando"
last_name = "Onofre"
print(f"{first_name}, What´s your last name? It´s {last_name}")

Fernando, What´s your last name? It´s Onofre

### Functions

In [3]:
"""Python functions are first-class, which means that we can assign them to variables and pass them 
into functions just like any other arguments:"""
def double(x): 
    return x*2

def apply_to_one(f):
    """calls the function with 1 as its argument"""
    return f(1)

In [4]:
my_double = double #refers to the previously defined function
x = apply_to_one(my_double)
x

2

### Collections

In [10]:
from collections import defaultdict

In [21]:
word_counts = defaultdict(int)
for word in "Hola Fernando, mucho gusto":
    word_counts[word] += 1

word_counts

defaultdict(int,
            {'H': 1,
             'o': 4,
             'l': 1,
             'a': 2,
             ' ': 3,
             'F': 1,
             'e': 1,
             'r': 1,
             'n': 2,
             'd': 1,
             ',': 1,
             'm': 1,
             'u': 2,
             'c': 1,
             'h': 1,
             'g': 1,
             's': 1,
             't': 1})

In [14]:
dd_list = defaultdict(list) #list() produces an empty list
dd_list[2].append(2) 
dd_list

defaultdict(list, {2: [2]})

In [16]:
dd_dict = defaultdict(dict) #dict() produces an empty dict
dd_dict[1] = "miau"
dd_dict

defaultdict(dict, {1: 'miau'})

In [17]:
dd_dict2 = defaultdict(dict)
dd_dict2[1]["Fernando"] = ["Onofre"] 
dd_dict2

defaultdict(dict, {1: {'Fernando': ['Onofre']}})

In [18]:
from collections import Counter

In [19]:
c = Counter([1,2,3,3,3,4]) #Counter produces a dict where the key values are the values of the list 
c

Counter({1: 1, 2: 1, 3: 3, 4: 1})

#### We´ll use sets for two reasons. The first is that "in" is a very fast operations on sets. If we have a large collection of items we want to use for a membership test, a set is more appropiate than a list

In [26]:
range(10) #produces the numbers 0,1,...,9

range(0, 10)

### assert
Commonly we use "assert" to expect values when we use comparative assignments

In [30]:
assert 1 + 1 == 2

In [31]:
assert 1+1 == 2, "1+1 should equal 2 but didn't"

In [32]:
assert 1 + 1 == 3, "1+1 should equal 3 but didn't" #this is a hipotetical situation

AssertionError: 1+1 should equal 3 but didn't

## lists

In [27]:
"""the sort method sorts list and replace them, in case of the function sorted, this don't 
change the list, for example"""
x_list = [1,3,5,2,6]
print(sorted(x_list))
x_list

[1, 2, 3, 5, 6]

[1, 3, 5, 2, 6]

In [28]:
x_list.sort()
x_list

[1, 2, 3, 5, 6]

In [29]:
#sort the list by absolute value from largest to smallest
abs_list = sorted([-4,-5,3,2,5,1], key=abs, reverse=True)
abs_list

[-5, 5, -4, 3, 2, 1]