# Python Crash Course

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

In [1]:
import os

## Data types

### Numbers

In [2]:
1 + 1

2

In [3]:
1 * 3

3

In [4]:
1 / 2

0.5

In [5]:
2 ** 4

16

In [6]:
4 % 2

0

In [7]:
5 % 2

1

In [8]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [9]:
# Can not start with number or special characters
name_of_var = 2

In [10]:
x = 2
y = 3

In [11]:
z = x + y

In [12]:
z

5

### Strings

When the "+" operator is applied to strings, it means "concatenation"

In [13]:
#strings are mutuables 
a = "Hola"
print(a[0:2])

Ho

In [14]:
a[0] = "A"

TypeError: 'str' object does not support item assignment

In [17]:
#tabulador horizontal
print("Miau \t fakiu")

Miau 	 fakiu

In [18]:
#strings dinámicos 

miau = "FerBOn"
string_dinamico = "Hello, {}".format(miau)
print(string_dinamico)
print('{1} + {2} = {0}'.format(7, 5, 2)) #aquí estamos especificando en las llaves, la posición de cada argumento de format

Hello, FerBOn
5 + 2 = 7

In [19]:
#excepciones

while True:
    try:
        x = int(input("Por favor ingrese un número: "))
        break
    except ValueError:
        print("Oops! No era válido. Intente nuevamente...")

"""
La declaración try funciona de la siguiente manera:
• Primero, se ejecuta el bloque try (el código entre las declaración try y except).
• Si no ocurre ninguna excepción, el bloque except se saltea y termina la ejecución de la declaración try.
• Si ocurre una excepción durante la ejecución del bloque try, el resto del bloque se saltea. Luego, si su tipo coincide con
la excepción nombrada luego de la palabra reservada except, se ejecuta el bloque except, y la ejecución continúa
luego de la declaración try.
• Si ocurre una excepción que no coincide con la excepción nombrada en el except, esta se pasa a declaraciones try
de más afuera; si no se encuentra nada que la maneje, es una excepción no manejada, y la ejecución se frena con un
mensaje como los mostrados arriba.
"""

Por favor ingrese un número: done
Oops! No era válido. Intente nuevamente...
Por favor ingrese un número: 9

'\nLa declaración try funciona de la siguiente manera:\n• Primero, se ejecuta el bloque try (el código entre las declaración try y except).\n• Si no ocurre ninguna excepción, el bloque except se saltea y termina la ejecución de la declaración try.\n• Si ocurre una excepción durante la ejecución del bloque try, el resto del bloque se saltea. Luego, si su tipo coincide con\nla excepción nombrada luego de la palabra reservada except, se ejecuta el bloque except, y la ejecución continúa\nluego de la declaración try.\n• Si ocurre una excepción que no coincide con la excepción nombrada en el except, esta se pasa a declaraciones try\nde más afuera; si no se encuentra nada que la maneje, es una excepción no manejada, y la ejecución se frena con un\nmensaje como los mostrados arriba.\n'

In [20]:
#len() function

x = "Hola!"
len(x)

5

In [21]:
fruit1 = "banana"
for letter in fruit1:
    print(letter)

b
a
n
a
n
a

In [22]:
fruit = "apple"
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 a
1 p
2 p
3 l
4 e

In [23]:
#join para Strings

", ".join(["1","2","3","Bebo"]) #Genera un string uniendo los elementos de una lista de strings con el string.

'1, 2, 3, Bebo'

In [24]:
#strip 

print("Miau ^-^     ".strip()) #Quita los espacios al comienzo y la final del string.
print("*****Miau ^-^*****".strip("*"))

#lstrip() remove whitespace (or other character) at the left 
#rstrip() remove whitespace (or other character) at the right

Miau ^-^
Miau ^-^

In [25]:
type(miau)

str

In [26]:
dir(miau) #"métodos" string

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [27]:
#we use the function fin() to search for a substring whitin another string, if the substring isn´t found, find() return -1
miau.find("m")
#the replace() is like "search and replace" operation in a word processor
miau.replace("Fer", "Bebo")

'BeboBOn'

In [28]:
#the character \n occupate one place, for example 
str1 = "Hello \n world"
len(str1)
str2 = "\n"
len(str2)

1

In [29]:
'single quotes'

'single quotes'

In [30]:
"double quotes"

'double quotes'

In [31]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [32]:
fruit1.upper()

'BANANA'

In [33]:
fruit1

'banana'

### Printing

In [34]:
x = 'hello'

In [35]:
x

'hello'

In [36]:
print(x)

hello

In [37]:
num = 12
name = 'Sam'

In [38]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [39]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

A list element can be any Python object - even another list. A list can be empty. A linear collection of values that stay in order

In [1]:
"""
What is not a collection?
most of our variables have one value in them -when we put a new value in the variable, the old value is overwritten
"""
x = 2212
x = 123
x 

#a list is a kind of collection, a collection allows to put many values in a single "variable"
friends = ['Fernando', 'Gabriel', 'Bebo']
friends[0] = 'Chafisol'
friends 
#las listas son mutables

['Chafisol', 'Gabriel', 'Bebo']

In [41]:
[1,2,3]

[1, 2, 3]

In [42]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [43]:
my_list = ['a','b','c']

In [44]:
my_list.append('d')

In [45]:
my_list

['a', 'b', 'c', 'd']

In [46]:
my_list[0]

'a'

In [47]:
my_list[1]

'b'

In [48]:
my_list[1:]

['b', 'c', 'd']

In [49]:
my_list[:1]

['a']

In [50]:
my_list[0] = 'NEW'

In [51]:
my_list

['NEW', 'b', 'c', 'd']

In [52]:
nest = [1,2,3,[4,5,['target']]]

In [53]:
nest[3]

[4, 5, ['target']]

In [54]:
nest[3][2]

['target']

In [55]:
nest[3][2][0]

'target'

In [56]:
#The range function returns a list of numbers
print(range(4))

range(0, 4)

In [57]:
for friend in friends:
    print("Hello, ", friend)

Hello,  Chafisol
Hello,  Gabriel
Hello,  Bebo

In [58]:
for i in range(len(friends)):
    friend = friends[i]
    print("Hi, ", friend)

Hi,  Chafisol
Hi,  Gabriel
Hi,  Bebo

In [59]:
#we can concatenate lists with "+"
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [60]:
a1 = list() #lista vacía --> a = [], es lo mismo decir que list()
type(a1)

list

In [61]:

dir(a1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
friends.sort()
friends

['Bebo', 'Chafisol', 'Gabriel']

In [63]:
numList = list() #empty list
while True : 
    inp = input('Enter a number: ')
    if inp == 'done' : break 
    value = float(inp)
    numList.append(value)

average = sum(numList) / len(numList)
print('Average: ', average)

Enter a number: 2
Enter a number: done
Average:  2.0

In [64]:
#en espacio en la memoria, este programa suele ocupar menos espacio ya que todo es hecho desde una variable con un "espacio"

sum_1 = 0
count_1 = 0
while True : 
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    sum_1 = sum_1 + value
    count_1 = count_1 + 1
avg = sum_1 / count_1
print('Average is: ', avg)

Enter a number: 2
Enter a number: done
Average is:  2.0

In [1]:
if "https://forms.office.com/Pages/ResponsePage.aspx?id=BUvlSn63JEKu8YZhQi4IFqqReLKxwkROhdw1fyoxsStUQk8xNU44QVJKS1FaS01DT0k0UjJOSFIzTi4u" == "https://forms.office.com/Pages/ResponsePage.aspx?id=BUvlSn63JEKu8YZhQi4IFqqReLKxwkROhdw1fyoxsStUQk8xNU44QVJKS1FaS01DT0k0UjJOSFIzTi4u":
    print("miau")

miau

In [65]:
#list as stack (pila) (LIFO)

stack = [1,2,3]

stack.append(4)

stack.pop()

4

In [66]:
from collections import deque

#listas como colas
queue = [1,2,3]

queue.append(4)

queue.pop(0)

#colas implementadas eficientemente en la libreria standar

queue = deque([1,2,3])

queue.append(4)

queue.popleft()

1

In [67]:
#podemos buscar el índice de un elemento en la lista (index()) indicando una sublista: 
#friends.index("Bebo",1) #buscar "Bebo" desde el índice 1
friends.index("Bebo", 0, 2) #desde el índice 0 hasta el 2

0

### Dictionaries
A "bag" of values, each with its own label -no order. Dictionaries are mutables

In [68]:
#all keys in a dictionarie, must be value inmutable, for example, string, int, float,...
d = {'key1':'item1','key2':'item2'}

In [69]:
d

{'key1': 'item1', 'key2': 'item2'}

In [70]:
d['key1']

'item1'

In [71]:
#empty dictionary 
dic = dict() #or only {}
dic['k_1'] = 2
dic['k_2'] = 3
dic

{'k_1': 2, 'k_2': 3}

In [72]:
#one common use of dictionaries is counting how often er "see" something
ccc = dict()
ccc["miau"] = 1
ccc["guau"] = 1
print(ccc)
ccc['miau'] = ccc['miau'] + 1
print(ccc)

{'miau': 1, 'guau': 1}
{'miau': 2, 'guau': 1}

In [73]:
counts_1 = dict()
names_dic = ["B", "E", "B", "O"]
for name in names_dic: 
    if name not in counts_1:
        counts_1[name] = 1
    else: 
        counts_1[name] = counts_1[name] + 1
counts_1

{'B': 2, 'E': 1, 'O': 1}

In [74]:
#get() method 
x_1 = counts_1.get('Z', 0) #default value if key does not exist 
x_1

0

In [75]:
#veamos el código de dos celdas arriba con el método "get()"
counts_2 = dict()
for name in names_dic:
    counts_2[name] = counts_2.get(name,0) + 1
print(counts_2)

{'B': 2, 'E': 1, 'O': 1}

In [76]:
print(counts_1.keys())
print(counts_1.values())
print(counts_1.items())

dict_keys(['B', 'E', 'O'])
dict_values([2, 1, 1])
dict_items([('B', 2), ('E', 1), ('O', 1)])

In [77]:
#two iteration variables 
# we loop through the key-value pairs in a dictionary using two iteration variables, each iteration, the first variable
#is the key and the second variable is the corresponging value for the key
for key, value in counts_1.items():
    print(key, value)

B 2
E 1
O 1

### Booleans

In [78]:
True

True

In [79]:
False

False

### Tuples 
tuples are inmutables

In [80]:
t = (1,2,3)

In [81]:
t[0]

1

In [82]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

things not to do with Tuples: 
sort(), append(), reverse().
Since Python does not to build tuple structures to be modifiable, they are simpler and more efficient in terms of memory use and performance than lists. So in our program when we are making "temporary variables" we prefer tuples over lists.

In [83]:
#we can also put tuple on the left-hand side of an assignment statement, we can omit the parentheses
(x,y)=('miau', 1)
print((x,y))
(a,b)=(1,2)
print(a)
print(b)

('miau', 1)
1
2

In [84]:
#the comparison operator work with tuples, < >

### Sets
Los conjuntos tiene la particularidad de no tener elementos repetidos, los conjuntos. Los conjuntos también soportan operaciones matemáticas como la unión, la intersección, la diferencia y la diferencia simétrica. Veamos algunos ejemplos.

In [85]:
#conjunto vacío: 
set_1 = set()
set_1

set()

In [86]:
{1,2,3}

{1, 2, 3}

In [87]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [88]:
1 > 2

False

In [89]:
1 < 2

True

In [90]:
1 >= 1

True

In [91]:
1 <= 4

True

In [92]:
1 == 1

True

In [93]:
'hi' == 'bye'

False

## Logic Operators

In [94]:
(1 > 2) and (2 < 3)

False

In [95]:
(1 > 2) or (2 < 3)

True

In [96]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [97]:
if 1 < 2:
    print('Yep!')

Yep!

In [98]:
if 1 < 2:
    print('yep!')

yep!

In [99]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [100]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [101]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [102]:
seq = [1,2,3,4,5]

In [103]:
for item in seq:
    print(item)

1
2
3
4
5

In [104]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [105]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [106]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [107]:
range(5)

range(0, 5)

In [108]:
for i in range(5):
    print(i)

0
1
2
3
4

In [109]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [110]:
x = [1,2,3,4]

In [111]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [112]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [113]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [114]:
my_func

In [115]:
my_func()

default

In [116]:
my_func('new param')

new param

In [117]:
my_func(param1='new param')

new param

In [118]:
def square(x):
    return x**2

In [119]:
out = square(2)

In [120]:
print(out)

4

In [15]:
def apply_to_one(f):
    """calls the function f with 3 as its argument"""
    return f(3)

In [16]:
apply_to_one(lambda x:x+4)

7

In [17]:
def double_new(x):
    return x*2

In [18]:
apply_to_one(double_new)

6

In [19]:
apply_to_one(2)

TypeError: 'int' object is not callable

## lambda expressions

In [121]:
def times2(var):
    return var*2

In [122]:
times2(2)

4

In [123]:
lambda var: var*2

## map and filter

In [124]:
seq = [1,2,3,4,5]

In [125]:
map(times2,seq)

In [126]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [127]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [128]:
filter(lambda item: item%2 == 0,seq)

In [129]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [130]:
st = 'hello my name is Sam'

In [131]:
st.lower()

'hello my name is sam'

In [132]:
st.upper()

'HELLO MY NAME IS SAM'

In [133]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [134]:
tweet = 'Go Sports! #Sports'

In [135]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [136]:
tweet.split('#')[1]

'Sports'

In [137]:
d

{'key1': 'item1', 'key2': 'item2'}

In [138]:
d.keys()

dict_keys(['key1', 'key2'])

In [139]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [140]:
lst = [1,2,3]

In [141]:
lst.pop()

3

In [142]:
lst

[1, 2]

In [143]:
'x' in [1,2,3]

False

In [144]:
'x' in ['x','y','z']

True

### Files in Python

In [145]:
#Use a for loop to read each line/el ciclo for se ejecutará dependiendo del número de líneas del archivo
#count the lines and print out the number of lines
file = open("/Users/omar/Documents/filename.txt", "w")
file.write("Primera línea" + os.linesep)
file.write("Segunda línea")
file.close()

fhand = open("/Users/omar/Documents/filename.txt")
#for line in fhand:
 #   print(line) #notemos que nos da "dos" saltos de línea, sólo usemos la función rstrip()

for line in fhand:
    line = line.rstrip()
    print(line)

Primera línea
Segunda línea

In [146]:
#Es importante no olvidar cerrar archivos, por ello los abrimos con un context manager
with open('/Users/omar/Documents/filename.txt', 'r') as a_file:
    a_file.read()

In [147]:
#la función read() lee todo el contenido del archivo
with open('/Users/omar/Documents/filename.txt', 'r') as a_file:
    print(a_file.read())

#la función readline() la línea actual del archivo
with open('/Users/omar/Documents/filename.txt', 'r') as a_file:
    print(a_file.readline())
    
#la función readlines() las lineas de un archivo y las guarda en una lista
with open('/Users/omar/Documents/filename.txt', 'r') as a_file:
    print(a_file.readlines())
    
#la función list() genera una lista con las líneas del archivo
#with open('/Users/omar/Documents/filename.txt', 'r') as a_file:
 #   print(a_file.list())

Primera línea
Segunda línea
Primera línea

['Primera línea\n', 'Segunda línea']

In [148]:
#hagamos una excepción con ese archivo 
fname = input("Enter the file name: ")
try: 
    fhand1 = open(fname)
except: 
    print("File cannot be opened: ", fname)
    raise #esto para que no siga 
    
count = 0
for line in fhand1: 
    if line.startswith("Primera") : 
        count = count + 1
print("there were", count, "Primer line in", fname)

Enter the file name: miau
File cannot be opened:  miau

FileNotFoundError: [Errno 2] No such file or directory: 'miau'

In [160]:
#to create a new file, we use open(name_file, 'w')
with open('squares_file.txt', 'w') as squares_file:
    for number in range(13):
        square = number ** 2
        squares_file.write(str(square) + '\n')
with open('squares_file.txt', 'r') as a_file:
    print(a_file.read())

0
1
4
9
16
25
36
49
64
81
100
121
144

## Excepciones

Exceptions, son errores que ocurren al momento de ejecutar el programa. En Python el manejo de excepciones se hace mediante los bloques que utilizan las sentencias: "Try", "Except" y "Finally". Dentro del bloque "Try" se ubica todo el código que pueda llegar a levantar una excepción. El término "levantar" se utiliza para referirse a la opción de generar una excepción. A continuación se ubica el bloque "Except" que se encarga de capturar la excepción y nos da la posibilidad de manejarla mostrando, por ejemplo, un mensaje adecuado del usuario. El bloque "Finally" es opcional y se coloca a continuación del bloque "Except", indicando las acciones que hay que realizar después del código del bloque "Try", haya ocurrido una excepción o no. Adicionalmente, existe un bloque opcional, "Else", que se ejecuta cuando el código de bloque "Try" no levanta una excepción. Este bloque es útil para poner en el bloque "Try" sólo el código donde se espera la excepción que se está capturando en el bloque "Except".

In [149]:
#ejemplo de excepción 
try: 
    1/0
except ZeroDivisionError:
    print("División por zero")

División por zero

In [150]:
def find(elemento , lista):
    index = 0
    while True:
        try:
            if lista[index] == elemento:
                return index
        except IndexError:
            return -1
        index += 1

#ejemplo de find
find(2, [1,0])
find(2, [1,0,3,4,2])

4

In [151]:
def divide(x, y):
    try: 
        resultado = x/y 
    except ZeroDivisionError:
        print('Dividiste entre cero!, me dueles')
    else: 
        print('El resultado es: ', resultado)
    finally: 
        print("Ejecutando finally :)")

print(divide(1,2))
print(divide(1,0))

El resultado es:  0.5
Ejecutando finally :)
None
Dividiste entre cero!, me dueles
Ejecutando finally :)
None

In [152]:
#levantamos una excepción, esto con ' raise '
import math 

def raiz_cuadrada(x): 
    if x<0:
        raise ValueError('Número negativo')
    return math.sqrt(x)

raiz_cuadrada(-1)

ValueError: Número negativo

In [153]:
class NegativeNumber(Exception): #creamos una clase que herede de Exception
    "Excepción de tipo número negativo"
    pass

def raiz_cuadrada2(x):
    if x<0:
        raise NegativeNumber("Dame sólo números positivos")
    return math.sqrt(x)

raiz_cuadrada2(-1)

NegativeNumber: Dame sólo números positivos

 ### Great Job!